{% extends 'notes/base.html' %}

{% block content %}
  <div class="left-div">
     {% block left-content %}

        {% for category in categories %}
          <h5>
            <a class="left-links" href="{% url 'notes' category.id %}">
            {{ category.name }} ({{ category.note_set.all|length }})
            </a>
          </h5>
        {% endfor %}
     {% endblock left-content %}
  </div>

<div class="right-div"> {% block right-content %} {% endblock right-content %}</div>

{% endblock content %}
